<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head>
	<meta charset="UTF-8">
	<title>Brewer</title>
	
	<!-- URL Expression, se mudar nome do projeto não tem erro de encontrar os Files -->
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/vendors.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/algaworks.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/application.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/brewer.css}"/>
	
	<link rel="shortcut icon" th:href="@{/images/favicon.png}"/>
	
</head>
<body>
<div class="aw-layout-page">
	
	<!-- Replicar o HTML chamado -->
	<div th:replace="layout/fragments/BarraNavegacao :: navbar"></div>
	
	<div th:replace="layout/fragments/MenuLateral :: layout-sidebar"></div>
	
	<div th:replace="layout/fragments/Footer :: layout-footer"></div>
	
	<section class="aw-layout-content  js-content" layout:fragment="conteudo"></section>
	
</div>	

	<!-- URL Expression, se mudar nome do projeto não tem erro de encontrar o File -->
	<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
	<script th:src="@{/layout/javascripts/algaworks.min.js}"></script>
	<script th:src="@{/javascripts/vendors/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/javascripts/brewer.js}"></script>
	
	<th:block layout:fragment="javascript-extra"></th:block>
</body>